.company-card {
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    border-radius: 12px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 25px;
    gap: 40px;
}

.company-list {
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
    /* gap: 10px; */
    padding-top: 20px;
}

.add_company_button {
    display: flex;
    justify-content: flex-end;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0px 3px 10px;
    width: 50%;
    justify-content: center;
    border-radius: 12px;
}

body {
    background-image: url(../images/d2.jpeg);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.bg-orange {
    background-color: #fbd1a2;
}


.welcome-section h2 {
    font-size: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.dcard-container {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.dcard {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.dcard i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #f0c14b;
}

.dcard p {
    font-size: 18px;
}

.dcard:hover {
    transform: scale(1.1);
}

.dcard a {
    color: black
}



.tr {
    cursor: pointer
}

.file-upload-wrapper {
    border: 1px solid #d3d3d3;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    /* gap: 10px; */
    max-width: 500px;
    height: 40px;
}

.file-upload-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: #212529;
    background-color: #e6e6e6;
    margin-left: auto;
    border-left: 1px solid #d3d3d3;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 0;
}


/* .file-upload-label i {
    margin-right: 5px;
} */

.file-upload-input {
    display: none;

}

.fa-receipt {
    color: green
}